
.gallery {
  display: inline-block;
}
  /* Smaller divs with two img tags each */
  .gallery div {
      padding: 2px;
      width: 400px;
  }
      /* First image in each smaller div */
      .gallery div img:nth-child(1) {
          width: 200px;
      }
      /* Second image in each smaller div */
      .gallery div img:nth-child(2) {
          position: absolute;
          top: 10px;
          left: 120px;
          z-index: 10;
          visibility: hidden;
      }
      /* Hover on any smaller div */
      .gallery div:hover img:nth-child(2) {
          visibility: visible;
      }